<h3>Clients List</h3>

<table class="table">
  <tr>
    <td></td>
    <td>Client</td>
    <td>Preferred stylist</td>
    <td>Requests service</td>
  </tr>
#foreach($client in $clients)
<tr>
  <td><a href="/clients/$client.getId()/edit">EDIT</a></td>
  <td><a href="/clients/$client.getId()">$client.getFirstName() $client.getLastName()</a></td>
  <td><a href="/stylists/$client.getStylistId()">$client.getStylistName()</a></td>
  <td>$client.getServiceDescription()</td>
</tr>
#end
</table>
