<h2>$stylist.getFirstName() $stylist.getLastName()</h2>

<form action="/stylists/$stylist.getId/update" method="post">
<div class="form-group">
  <label for="first_name">First name: </label>
  <input id="first_name" name="first_name" type="text" value="$stylist.getFirstName()">

  <label for="last_name">  Last name: </label>
  <input id="last_name" name="last_name" type="text" value="$stylist.getLastName()">

  <button type="submit" class="btn btn-primary">Update</button>
</form>
